<h1>New Reservation</h1>

<%= render 'form', reservation: @reservation %>

<% if user_signed_in? %>
    <%= link_to 'Back', reservations_path %>
<% else %>
    <%= link_to 'Back', properties_path %>
<% end %>
